/*clock display*/
h3 {
    text-align: right;
}

/*start menu design*/
.start-menu{
    text-align: center;
    color: red;
}
/*display text*/
.show{
    display: block;
}
/*question display*/
.question{
    
    text-align: center;
    color: blue;

}
/*hide text*/
.hidden{
    display: none;
}

.answer .true .false {
    color: grey;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}
