h2 {
    size: 20 px;
    text-align: center;

}

.show{
    display: block;
}
.start-menu{
    
    text-align: center;
    color: red;
}

.question{
    text-align: center;
    color: blue;
}
.hidden{
    display: none;
}

h3 {
    text-align: right;
}