/*clock display*/
h3 {
    text-align: right;
}

/*start menu design*/
.start-menu{
    text-align: center;
    color: red;
}
/*display text*/
.show{
    display: block;
}
/*question display*/
.question{
    text-align: center;
    color: blue;
}
/*hide text*/
.hidden{
    display: none;
}

